<!DOCTYPE html>
{% block content %}
<html>
    <head>
        <link rel="stylesheet" href="static/css/animal.css">
        <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    </head>
    <body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
        <div>Location</div>
        <ul>
            {% for option in locationOptions %}
            <li><input hx-get="{% url 'animals' %}" 
                    hx-trigger="click" 
                    hx-target="#animals" 
                    hx-include="[name='color'], [name='location'], [name='sex']" 
                    name="location" type="checkbox" value="{{ option }}">{{ option }}</li>
            {% endfor %}
        </ul>
        <div>Color</div>
        <ul>
            {% for option in colorOptions %}
            <li><input hx-get="{% url 'animals' %}" 
                hx-trigger="click" 
                hx-target="#animals" 
                hx-include="[name='color'], [name='location'], [name='sex']" 
                name="color" type="checkbox" value="{{ option }}">{{ option }}</li>
            {% endfor %}
        </ul>
        <div>Sex</div>
        <ul>
            {% for option in sexOptions %}
            <li><input hx-get="{% url 'animals' %}" 
                hx-trigger="click" 
                hx-target="#animals" 
                hx-include="[name='color'], [name='location'], [name='sex']" 
                name="sex" type="checkbox" value="{{ option }}">{{ option }}</li>
            {% endfor %}
        </ul>
        <div id="animals" hx-get="{% url 'animals' %}"hx-trigger="load">
        </div>
    </body>
</html>
{% endblock %}