<!DOCTYPE html>
{% block content %}
<html>
    <head>
        <link rel="stylesheet" href="static/css/animal.css">
    </head>
    <body>
        <div>Location</div>
        <ul>
            {% for option in locationOptions %}
            <li><input name="location" type="checkbox" value="{{ option }}">{{ option }}</li>
            {% endfor %}
        </ul>
        <div>Color</div>
        <ul>
            {% for option in colorOptions %}
            <li><input type="checkbox">{{ option }}</li>
            {% endfor %}
        </ul>
        <div>Sex</div>
        <ul>
            {% for option in sexOptions %}
            <li><input type="checkbox">{{ option }}</li>
            {% endfor %}
        </ul>
        <button>Apply Filters</button>
        <div>
            <ul>
                {% for animal in animals %}
                <li>
                    <a href="animal/{{ animal.id }}">
                        <div>{{animal.name}}</div>
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </body>
</html>
{% endblock %}