{% extends 'base.html' %}
{% load static %}
{% block content %}
<table width="100%" cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td align="left" valign="middle">
            <img src="{% static 'images/Logo.png' %}" alt="Logo" width="100" height="auto" style="display: block; padding: 10px;">
        </td>
        <td align="center" valign="middle">
            <a href="{% url 'home'%}"> Home </a>
            <a href="{% url 'animals'%}"> Adopt </a>
            <a href="{% url 'about'%}"> About Us </a>
        </td>
        <td align="right">
            <a href="{% url 'login' %}">Login</a>
        </td>
        <td align="right" valign="middle">
            <img src="{% static 'images/Login.png' %}" alt="Login logo" width="80" height="auto" style="display: block; padding: 10px;">
        </td>
    </tr>
</table>
<script src="{% static 'js/slider.js' %}"></script>
<body>
    <img id="slider" src="{% static 'images/dogs/Dog1.png' %}" alt="Slider Image">
</body>
{% endblock %}