<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<table width="100%" cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td align="left" valign="middle">
            <img src="{% static 'images/Logo.png' %}" alt="Logo" width="100" height="auto" style="display: block; padding: 10px;">
        </td>
        <td align="center" valign="middle">
            <a href="{% url 'home'%}"> Home </a>
            <a href="{% url 'adopt'%}"> Adopt </a>
            <a href="{% url 'about'%}"> About Us </a>
        </td>
        <td align="right">
            <a href="{% url 'login' %}">Login</a>
        </td>
        <td align="right" valign="middle">
            <img src="{% static 'images/Login.png' %}" alt="Login logo" width="80" height="auto" style="display: block; padding: 10px;">
        </td>
    </tr>
</table>
<body>
    <div class="slider-container">
        <div class="slider">
            {% for image in dogs %}
                <div class="slide">
                    <img src="{% static 'images/dogs' %}{{ image }}" alt="Slide">
                </div>
            {% endfor %}
        </div>
    </div>
    <script src="{% static 'js/slider.js' %}"></script>
</body>
</body>
</html>
