<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<table width="100%" cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td align="left" valign="middle">
            <img src="PawPlan.png" alt="Logo" width="100" height="auto" style="display: block; padding: 10px;">
        </td>
        <td align="center" valign="middle">
            <a href="home.html"><button>Home</button></a>
            <a href="adopt.html"><button>Adopt</button></a>
            <a href="about_us.html"><button>About Us</button></a>
        </td>
        <td align="right">
            <button>Login</button>
        </td>
        <td align="right" valign="middle">
            <img src="Account.png" alt="Login logo" width="80" height="auto" style="display: block; padding: 10px;">
        </td>
    </tr>
</table>
<img src="Dog1.png" alt="Dog 1" width="500" height="300">
<img src="Dog2.png" alt="Dog 2" width="500" height="300">
</body>
</html>
